#adicionar-usuario {
	margin: 20px;
	background-color: #4caf50;
	color: white;
	font-size: 16px;
	font-weight: 600;
	border-radius: 8px;
	border: none;
	transition: all 0.3s ease;
	display: inline-block;
	padding: 20px 25px;
}

#adicionar-usuario:hover {
	background-color: #45a049;
	transform: scale(1.05);
	cursor: pointer;
}

#adicionar-usuario:active {
	background-color: #388e3c;
	transform: scale(0.98);
}

.usuarios-list {
	margin: 20px;
	border: 1px solid rgba(0, 0, 0, 0.386);
	border-radius: 5px;
}

.usuarios-cabecario {
	display: grid;
	grid-template-columns: 1.34fr 1.5fr; /* Largura fixa para cada coluna */
	font-weight: bold;
	background-color: #f4f4f4;
	padding: 10px;
	border-bottom: 2px solid #000;
	text-align: left;
}

.dados-usuario {
	display: grid;
	grid-template-columns: 1.6fr 1.5fr; /* Largura fixa para cada coluna */
	gap: 10px;
	flex: 1;
	text-align: left;
}

.ul-usuario {
	padding: 0;
}

.li-usuario {
	display: flex;
	justify-content: space-between;
	align-items: center;
	justify-items: left;
	border-bottom: 1px solid #ccc;
	padding: 10px;
}

.dados-usuario span {
	max-width: 250px;
	word-wrap: break-word; /* Quebra a palavra para a próxima linha, se necessário */
	overflow-wrap: break-word; /* Alternativa, também garante a quebra de palavras longas */
	white-space: normal; /* Garante que o texto se ajuste ao conteúdo */
}
