.container-informacoes {
	display: flex;
	justify-content: space-between;
}

.informacoes-gerais {
	margin: 30px;
	padding: 30px;
	background-color: white;
	border-radius: 6px;
	max-height: 200px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.informacoes-gerais h2 {
	text-align: center;
}

.informacoes-gerais p {
	text-align: justify;
}

.agendamentos {
	margin: 30px;
	padding: 30px;
	background-color: white;
	border-radius: 6px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#editar-status {
	background-color: #4caf50;
	color: white;
	font-size: 16px;
	font-weight: 600;
	border-radius: 8px;
	border: none;
	transition: all 0.3s ease;
	display: inline-block;
	padding: 12px 20px;
}

#editar-status:hover {
	background-color: #45a049;
	transform: scale(1.05);
	cursor: pointer;
}

#adicionar-animal:active {
	background-color: #388e3c;
	transform: scale(0.98);
}

.agendamentos h2 {
	text-align: justify;
}

.agendamentos h3 {
	text-align: justify;
}

.agendamentos ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.agendamentos li {
	text-align: justify; /* Alinha o texto justificado */
	padding: 10px; /* Adiciona espaçamento interno aos itens */
	border-bottom: 1px solid #8b8787; /* Adiciona uma linha para separar os itens */
}
