.container-informacoes {
	display: flex;
	justify-content: flex-end;
}

.informacoes-gerais {
	margin: 30px;
	padding: 30px;
	background-color: white;
	border-radius: 6px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.informacoes-gerais h2 {
	text-align: center;
}

.informacoes-gerais p {
	text-align: justify;
}
