@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

body.login-page {
	background-color: #9dbad7;
	margin: 0;
	font-family: "DM Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; /* Garante que o corpo ocupe 100% da altura da tela */
}

body.dashboard-page {
	background-color: #9dbad7;
	margin: 0;
	font-family: "DM Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body.cliente-page {
	margin: 0;
	background-color: #9dbad7;
	font-family: "DM Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
